@model Projekt.Models.Films.FilmsViewModel
@{
    ViewData["Title"] = "Edycja filmu";
}
<div class="text-center mb-5">
    <h1 class="display-4">Lista filmów</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Reżyser</th>
                <th scope="col">Rok produkcji</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Films)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Title</td>
                    <td scope="row">@item.Desc</td>
                    <td scope="row">@item.Director</td>
                    <td scope="row">@item.YearOfProduction</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<form method="put" asp-controller="Films" asp-action="UpDateThisFilm">
    <div class="form-group">
        <label for="title">ID do zmiay: <span style="color:red">*</span></label>
        <input type="number" class="form-control border border-danger" id="ID" placeholder="Id" name="ID">
    </div>
    <div class="form-group">
        <label for="title">Tytuł: <span style="color:red">*</span></label>
        <input type="text" class="form-control" id="title" placeholder="Tytuł" name="title">
    </div>
    <div class="form-group">
        <label for="desc">Opis: <span style="color:red">*</span></label>
        <input type="text" class="form-control" id="desc" placeholder="Opis" name="desc">
    </div>
    <div class="form-group">
        <label for="director">Reżyser: <span style="color:red">*</span></label>
        <input type="text" class="form-control" id="director" placeholder="Reżyser" name="director">
    </div>
    <div class="form-group">
        <label for="yearofproduction">Rok produkcji: <span style="color:red">*</span></label>
        <input type="number" class="form-control" id="yearofproduction" placeholder="Rok produkcji" name="yearofproduction">
    </div>
    <div class="text-center m-5">
        <button type="submit" class="btn btn-success">Wprowadź</button>
        <a class="btn btn-danger" href="javascript: history.go(-1)">Wróć</a>
    </div>
</form>